.Signup {
  height: 700px;
}
.signup-card {
  display: flex;
  gap: 100px;
  width: 79.93%;
  height: 530px;
  flex-shrink: 0;
  border-radius: 16px;
  background: #171717;
  margin-top: 70px;
  margin-left: 127px;
}
.column1 {
  padding-left: 72px;
  padding-top: 40px;
  display: block;
}
.column1 form {
  display: block;
}

h2 {
  color: #fff;

  /* h2 */
  font-family: "Century Gothic";
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.input {
  display: block;
  width: 100%;
  height: 48px;
  flex-shrink: 0;
  border: none;
  margin-top: 45px;
  border-bottom: 3px solid var(--secondary, #4b6f44);
  background-color: #171717;
  color: #525252;

  /* h3 */
  font-family: Century Gothic;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 4px;
}

.question {
  color: #fff;
  font-family: "Century Gothic";
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 20px;
}
.Link {
  color: var(--primary, #854823);
}

.submit {
  width: 376px;
  height: 54px;
  flex-shrink: 0;
  background: var(
    --linear-gradiant,
    linear-gradient(180deg, #854823 20.72%, #333 100%)
  );
  margin-top: 20px;
  border: none;
}

.column2 {
  background-image: url(../../assets/signup.png);
  width: 46.71%;
  height: 528.94px;
  flex-shrink: 0;
  border-radius: 0px 16px 16px 0px;
}

.quote {
  transform: translateY();
  width: 446.202px;
  height: 47.7px;
  flex-shrink: 0;
  color: #fff;

  /* h2 */
  font-family: "Century Gothic";
  font-size: 37px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
