.Details {
  margin-top: 60px;
  margin-left: 48px;
}
.more-info {
  display: flex;
  gap: 120px;
}
img {
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 16px;
  width: 500px;
  height: 392px;
  flex-shrink: 0;
}

.first-line {
  display: flex;
}

.res-name {
  color: var(--primary, #854823);

  font-family: "Century Gothic";
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.delivery {
  color: #fff;
  margin-top: 40px;
  font-family: Century Gothic;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.rating-number2 {
  width: 48.053px;
  color: #fff;
  font-family: "Century Gothic";
  font-size: 38px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-left: 60px;
}
.rating-star2 {
  margin-left: 10px;
  margin-top: -9px;
}
